@model WebApplication1.Models.cLine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>cLine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vOrder.Buyer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vOrder.Buyer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cProductType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cProductType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
