@model IEnumerable<WebApplication1.Models.vPlanLine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReservedShipment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipmentBuyersOrders)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Production)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedStockBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailablePromise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cProductType.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReservedShipment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipmentBuyersOrders)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Production)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimatedStockBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailablePromise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cProductType.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
